/*
* Global, sourced from getbootstrap.com
*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: center;
  color: black;
}

h1 {
	font-size: 90px;
}

h3 {
	font-size: 32px;
}

body div {
  padding-right: 90px;
  padding-left: 90px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: lightgrey;
  border: 10px;
  border-radius: 5px;
  border-color: black;
  opacity: 0.6;
}

