/*
* Global, sourced from getbootstrap.com
*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: center;
  color: black;
}

h2 {
	font-size: 3.5em;
}

h4 {
	font-size: 1.2em;
  text-align: left;
  margin-left: 13%;
}

h5 {
  color: black;
}

body div {
  padding-right: 90px;
  padding-left: 90px;
  margin-right: 25%;
  margin-left: 25%;
  background-color: lightgrey;
  border: 10px;
  border-radius: 5px;
  color: #444444;
}

